body{


    /* background-image: url("./background.jpg"); */
    background-color: #100202d1;
    background-repeat: no-repeat;
    background-size: cover;


}



.Logoprofile{

    border-radius: 70%;
    block-size: auto;
    width: 160px;
    height: auto;
   
  }
  
/* header css  */
  .flex-container{
    border-radius: 100px;
    background-color: rgb(60, 56, 56);
    display: flex;
    flex-direction: column; /* Arrange items vertically */

    align-items: center; /* Center items horizontally */
    position: absolute; /* Position the container absolutely */
    top: 50; /* Position at the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
}


.flex-item1{
    padding: 20px;

   
}

h3{

  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 10px;
  font-weight: 20;
  color: gold;
}

/* this is the css for thenavigation bar  */

ul {
    list-style-type: none;
    margin: 120;
    padding: 10;
    overflow: hidden;
    background-color: #444343;
  }
  
  li {
    float: left;
  }
  
  li a {
    display:list-item;
    color: rgb(231, 171, 19);
    text-align: center;
    padding: 50px 10px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #000000;
  }




.container {

  display: flex;

 
}


.Logoprofile1 {
  border-radius: 10px;
  width: max-content; /* Ensure the image doesn't exceed the container width */
  height: max-content; /* Ensure the image doesn't exceed the container height */
  /* Remove any potential whitespace below the image */

}

.flex-item-list{

  display: flexbox;
  flex-wrap: wrap;
  
}






