body{


    /* background-image: url("./background.jpg"); */
    background-color: #EAEAEA;
    background-repeat: no-repeat;
    background-size: cover;


}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

.flex-container{


    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: end;
    flex-direction: row;
    background-color: rgb(36, 35, 29);

}

.flex-item{
    flex: auto;
    border: 1.3px solid black;


}