body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: goldenrod;
 
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; /* Ensure the body covers the entire viewport height */
}



/* modifies logo modification at header  */

.Logoprofile{

  border-radius: 50px;
  width: 100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;

}


.flex-container-head{

  

    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
   

}
.flex-container-head > div{

  margin-top: 10px
   
}


/* feature picture container  */
.flex-container{
  
  border-radius: 5px;
  
 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; /* Arrange items vertically */

  align-items: center; 

  margin-right: auto;
}
.flex-item1{
  
  margin-top: 15px;

  }

#profile{

  border-radius: 800px;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
 
  border-width: 5px;

  border-style: dotted;
  border-color: black;
  padding: 80px;


}


h3{
  color: goldenrod; font-family: 'Helvetica Neue', sans-serif; font-size: 25px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;

  text-shadow: 4px 2px 5px rgb(12, 10, 3);
}


h6{
  color: white; font-family: 'Helvetica Neue', sans-serif; font-size: 25px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;

  text-shadow: 4px 2px 5px rgb(111, 108, 99);
}






h2{

font-family: "Courier New", monospace;
font-size: 50px;
font-weight: 80;
color: black;
}



/* this is the css for thenavigation bar  */

ul {
  list-style-type: none;
  
  overflow: hidden;
  background-color: #000000;
}

li {
  float: left;
}

li a {
  display:list-item;
  color: goldenrod; font-family: 'Helvetica Neue', sans-serif; font-size: 35px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
  padding: 10px 55px;

  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: white;

}




.Logoprofile1 {
  size: 100%;
width: max-content; /* Ensure the image doesn't exceed the container width */
height: max-content; /* Ensure the image doesn't exceed the container height */
/* Remove any potential whitespace below the image */

}

.flex-item-list{

display: flexbox;
flex-wrap: wrap;

}



  



.flex-container > div{

  margin-top: 15px;
  margin-bottom: 20px;
  }
  
  
  




/* feature picture container  */
.flex-container1{
  border-radius: 100px;
  background-color: rgb(60, 56, 56);
  display: flex;
  flex-direction: row; /* Arrange items vertically */

  position: relative;

padding: 5px;
box-shadow: 5px 4px 8px 10px black;

margin-left: 100px;
margin-right: 100px;

}



.flex-item{
  font-size: large;
  background-color: #331f1f;
  padding: 100px;
  flex-wrap: wrap;
  border-radius: 40px;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  

  }



  .flex-item h3:hover{
    background-color: yellowgreen;
    border-radius: 80%;
    padding: 20px;
    }
    


  .Title{

    justify-content: center;


  }



.flex-container > div{

  margin-top: 15px;
  margin-bottom: 20px;
  }
  





.flex-item{
  font-size: large;
  background-color: #331f1f;
  padding: 10px;
  flex-wrap: wrap;
  border-radius: 40px;
  margin: 20px;
  }
  


    
/* feature picture container  */
.flex-container2{
 
  border-radius: 100px;
  background-color: rgb(60, 56, 56);
  display: flex;
  flex-direction: row; /* Arrange items vertically */


  position: absolute; /* Position the container absolutely */
  /* Position at the top */
  left: 30%; /* Center horizontally */
  transform: translateX(-50%);

  padding-top: 40px;
  padding-bottom : 40px;
padding-left: 20px;
margin-top: 100%;
align-content: space-around;
box-shadow: 5px 4px 8px 10px black;



}
  

  .flex-container2 > div{

    margin-top: auto;
    margin-bottom: auto;
    }
    
  
  
  
  
  
  .flex-item2{
    font-size: large;
    background-color: #331f1f;
    padding: 10px;
    flex-wrap: wrap;
    border-radius: 40px;
    margin: 20px;
    }
    



.skills{
padding-top: 30px;
  border-radius: 20px;
  width: 150px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
  bottom: 30px;

}





.flex-container3{
  padding-left: 50px;
  
  border-radius: 100px;
  background-color: rgb(60, 56, 56);
  display: flex;
  flex-direction: row; /* Arrange items vertically */


  position: absolute; /* Position the container absolutely */
  /* Position at the top */
  right: 25%; /* Center horizontally */
  transform: translateX(-50%);

  padding-top: 40px;
  padding-bottom : 40px;
padding-left: 20px;
margin-top: 100%;
align-content: space-around;
box-shadow: 5px 4px 8px 10px black;



}
  

























    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: red;
      color: white;
      text-align: center;
   }









  